/* colors used

Background - #f2e8cf
Playground - #a9b6fd
ball 1 - #5C275
ball 2 - #fb6f92
ball 3 - #023047
ball 4 - #d90429
ball 5 - #ffbe0b
ball 6 - #99582a

*/


body{
    margin: 0;
    padding: 0;
    background-color: #f2e8cf;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    color: black;
    text-decoration: underline;
    text-align: center;
}

.playground {
    height: 500px;
    background-color: #a9b6fd;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-bottom: 3px solid #023047;
    display: flex;
    justify-content: space-evenly;

}

.ball1 {
    height: 50px;
    width: 50px;
    background-color:#5C2751 ;
    border-radius: 50%;
    display: inline-block;
    margin-top: 100px;
    animation: ball1 1.7s ease-in 0s infinite alternate-reverse;
}

.ball2 {
    height: 50px;
    width: 50px;
    background-color:#fb6f92 ;
    border-radius: 50%;
    display: inline-block;
    margin-top: 150px;
    animation: ball2 1.7s ease-in 0s infinite alternate-reverse;

}

.ball3 {
    height: 50px;
    width: 50px;
    background-color:#023047 ;
    border-radius: 50%;
    display: inline-block;
    margin-top: 170px;
    animation: ball3 1.3s ease-in 0s infinite alternate-reverse;
}

.ball4 {
    height: 50px;
    width: 50px;
    background-color:#d90429 ;
    border-radius: 50%;
    display: inline-block;
    margin-top: 60px;
    animation: ball4 1.7s ease-in 0s infinite alternate-reverse;
}

.ball5 {
    height: 50px;
    width: 50px;
    background-color:#ffbe0b ;
    border-radius: 50%;
    display: inline-block;
    margin-top: 200px;
    animation: ball5 1.1s ease-in 0s infinite alternate-reverse;
}

.ball6 {
    height: 50px;
    width: 50px;
    background-color:#99582a ;
    border-radius: 50%;
    display: inline-block;
    margin-top: 120px;
    animation: ball6 1.4s ease-in 0s infinite alternate-reverse;
}

/*   Animation   */

@keyframes ball1 {
    from {
        margin-top: 100px;
    }
    to {
        margin-top: 450px;
    }
}

@keyframes ball2 {
    from {
        margin-top: 150px;
    }
    to {
        margin-top: 450px;
    }
}

@keyframes ball3 {
    from {
        margin-top: 170px;
    }
    to {
        margin-top: 450px;
    }
}

@keyframes ball4 {
    from {
        margin-top: 60px;
    }
    to {
        margin-top: 450px;
    }
}

@keyframes ball5 {
    from {
        margin-top: 200px;
    }
    to {
        margin-top: 450px;
    }
}

@keyframes ball6 {
    from {
        margin-top: 120px;
    }
    to {
        margin-top: 450px;
    }
}